In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("shot_logs.csv")
df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [3]:
#df = df.dropna()
df = df.drop("MATCHUP", axis = 1)
df = df.drop('CLOSEST_DEFENDER',axis=1)
df = df.drop('player_name',axis=1)
df.dtypes

GAME_ID                         int64
LOCATION                       object
W                              object
FINAL_MARGIN                    int64
SHOT_NUMBER                     int64
PERIOD                          int64
GAME_CLOCK                     object
SHOT_CLOCK                    float64
DRIBBLES                        int64
TOUCH_TIME                    float64
SHOT_DIST                     float64
PTS_TYPE                        int64
SHOT_RESULT                    object
CLOSEST_DEFENDER_PLAYER_ID      int64
CLOSE_DEF_DIST                float64
FGM                             int64
PTS                             int64
player_id                       int64
dtype: object

In [4]:
df.isnull().sum()

GAME_ID                          0
LOCATION                         0
W                                0
FINAL_MARGIN                     0
SHOT_NUMBER                      0
PERIOD                           0
GAME_CLOCK                       0
SHOT_CLOCK                    5567
DRIBBLES                         0
TOUCH_TIME                       0
SHOT_DIST                        0
PTS_TYPE                         0
SHOT_RESULT                      0
CLOSEST_DEFENDER_PLAYER_ID       0
CLOSE_DEF_DIST                   0
FGM                              0
PTS                              0
player_id                        0
dtype: int64

In [5]:
df.head()

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,101187,1.3,1,2,203148
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,202711,6.1,0,0,203148
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,202711,0.9,0,0,203148
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,203900,3.4,0,0,203148
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,201152,1.1,0,0,203148

In [6]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")
S_C = df.iloc[:, 7:8].values
print(S_C)
imputer= imputer.fit(S_C[:])
S_C[:] = imputer.transform(S_C[:])
print(S_C)
df.head()

[[10.8]
 [ 3.4]
 [ nan]
 ...
 [23. ]
 [ 9.1]
 [ nan]]
[[10.8       ]
 [ 3.4       ]
 [12.45334362]
 ...
 [23.        ]
 [ 9.1       ]
 [12.45334362]]

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,101187,1.3,1,2,203148
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,202711,6.1,0,0,203148
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,202711,0.9,0,0,203148
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,203900,3.4,0,0,203148
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,201152,1.1,0,0,203148

In [7]:
len(df)

128069

In [8]:

sc = pd.DataFrame(data = S_C, index = range(128069), columns = ["shot_clock"])
df = pd.concat([df, sc], axis = 1)
df.head()

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id,shot_clock
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,101187,1.3,1,2,203148,10.800000
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,202711,6.1,0,0,203148,3.400000
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,202711,0.9,0,0,203148,12.453344
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,203900,3.4,0,0,203148,10.300000
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,201152,1.1,0,0,203148,10.900000

In [9]:
df = df.drop("SHOT_CLOCK", axis = 1)

In [10]:
df["W"].replace("W", 1, inplace = True)
df["W"].replace("L", 0, inplace = True)
df["SHOT_RESULT"]. replace("made", 1, inplace = True)
df["SHOT_RESULT"].replace("missed", 0, inplace = True)
df.dtypes

GAME_ID                         int64
LOCATION                       object
W                               int64
FINAL_MARGIN                    int64
SHOT_NUMBER                     int64
PERIOD                          int64
GAME_CLOCK                     object
DRIBBLES                        int64
TOUCH_TIME                    float64
SHOT_DIST                     float64
PTS_TYPE                        int64
SHOT_RESULT                     int64
CLOSEST_DEFENDER_PLAYER_ID      int64
CLOSE_DEF_DIST                float64
FGM                             int64
PTS                             int64
player_id                       int64
shot_clock                    float64
dtype: object

In [11]:
df1 = df["GAME_CLOCK"].str.split(":", expand = True).astype(int)
df["time"] = df1[0] * 60 + df1[1]
df = df.drop("GAME_CLOCK", axis = 1)
df["LOCATION"].replace("A", 1, inplace = True)
df["LOCATION"].replace("H", 0, inplace = True)
df.head()

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id,shot_clock,time
0,21400899,1,1,24,1,1,2,1.9,7.7,2,1,101187,1.3,1,2,203148,10.800000,69
1,21400899,1,1,24,2,1,0,0.8,28.2,3,0,202711,6.1,0,0,203148,3.400000,14
2,21400899,1,1,24,3,1,3,2.7,10.1,2,0,202711,0.9,0,0,203148,12.453344,0
3,21400899,1,1,24,4,2,2,1.9,17.2,2,0,203900,3.4,0,0,203148,10.300000,707
4,21400899,1,1,24,5,2,2,2.7,3.7,2,0,201152,1.1,0,0,203148,10.900000,634

In [12]:
(df["TOUCH_TIME"] < 0).sum()

312

In [13]:
df = df[df["TOUCH_TIME"] >= 0]
(df["TOUCH_TIME"] < 0).sum()

0

In [14]:
X = df.drop("SHOT_RESULT", axis = 1)
Y = df["SHOT_RESULT"]

In [15]:
from sklearn.model_selection import StratifiedKFold
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(X, Y)

10